@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* Globale font family */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grote koptekst (Font 1) */
.heading-large {
  font-size: 40px;
  font-weight: 600; /* SemiBold */
  line-height: 1.2; /* Pas aan voor optimale spacing */
}

/* Middelgrote koptekst (Font 2) */
.heading-medium {
  font-size: 32px;
  font-weight: 500; /* Medium */
  line-height: 1.3;
}

/* Kleine koptekst (Small Text) */
.heading-small {
  font-size: 24px;
  font-weight: 400; /* Standaard gewicht */
  line-height: 1.4;
}

/* Zeer kleine tekst (Very Small Text) */
.text-very-small {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

/* Zeer zeer kleine tekst (Very Very Small Text) */
.text-extra-small {
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
}

/* Kleurvariabelen */
:root {
  --sandy-brown: #D3D3D3; /* Vervang door de juiste hexkleur als nodig FA954B*/
  --ivory: #F9FBF2;
  --light-cyan: #D7F9FF;
  --jordy-blue: #AFCBFF;
  --oxford-blue:black ; /*#0E1C36*/
  --bice-blue:black;
  /*--bice-blue: #3A6EA5;*/
}
